<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to chat</title>
</head>
<body>
    <div class="sas">
        <h1><a href="/">Server test</a></h1>
    </div>
    <div>
        <p>date: {{ current_date }}</p>
    </div>
    <div>
<!--        <p>Enter your login</p>-->
        <form action="">
            <label>
                <b>Login</b>
                <input type="text" placeholder="Your login">
            </label>
            <label>
                <b>Password</b>
                <input type="password" placeholder="Your password">
            </label>
            <button type="submit" formmethod="post">Sign In</button>

        </form>
    </div>
</body>
</html>